<!DOCTYPE html>
<html>

<head>
    <title>
        Cycles
    </title>
    <link rel="stylesheet" href="/static/cycle.css">
</head>

<body id="cy">
    <div id="lo">
        <div id="navbar" class="navbar" tabindex="0">
            <img id="logo" src="/static/images/logo.png" class="logoim">
            <div class="imgddcontent">
                <a href="{{url_for('home')}}">Home</a>
                <a href="">About</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">
                <span id="username">{{ session['user_name'] if 'user_name' in session else 'Guest' }}</span>
                <br>
                <img id="user-icon" src="/static/images/profileicon.png" alt="User">

            </button>
            <div class="ddcontent">
                <a href="{{ url_for('profile') }}"> Profile</a>
                <a href="{{ url_for('logout') }}">Log out</a>
            </div>
        </div>
        <h1>
            Dɾιʋҽ ɯԋҽҽʅȥ
        </h1>
        <div id="head">
            Cycle
        </div>
        <div id="name">
        <span id="cb1">
            <b>Hercules</b>
        </span>
        </div>
        
        <div id="hercules" >
            <div id="c1" >
                <button id="btn">
                    <img id="mtb" src="/static/images/HC1.png" alt="">
                    <br>
                    <a id="htext">
                        hercules FX100
                    </a>
                    <div class="hover-box">
                        <b>Hercules FX100</b><br>
                        💰 Price: ₹400 / Hr
                        <p><b>Description:</b> The Hercules FX100 is a mountain bicycle designed for riders aged 10 and above, suitable for both on-road and off-road cycling.</p>
                    </div>
                </button>
            </div>

            <div id="c1">
                <button id="btn">
                    <img id="mtb" src="/static/images/HC2.png" alt="">
                    <br>
                    <a id="htext">
                        Hercules Roadeo Fugitive SS
                    </a>
                    <div class="hover-box">
                        <b>Hercules Roadeo Fugitive SS</b><br>
                        💰 Price: ₹600 / Day
                        <p><b>Description:</b>The Hercules Roadeo Fugitive SS is a single-speed mountain bicycle designed for riders aged 13 and above. It features a 17-inch steel frame, offering durability and stability for various terrains. </p>
                    </div>
                </button>
            </div>

            <div id="c1">
                <button id="btn">
                    <img id="mtb" src="/static/images/HC3.png" alt="">
                    <br>
                    <a id="htext">
                        Hercules Hardstyle
                    </a>
                    <div class="hover-box">
                        <b>Hercules Hardstyle</b><br>
                        💰 Price: ₹800 / Day
                        <p><b>Description:</b>The Hercules Hardstyle is an electric bicycle (e-bike) designed to blend power, style, and innovation, offering a modern solution for urban commuting and recreational cycling.</p>
                    </div>
                </button>
            </div>
        </div>
        
        <div id="name">
            <span id="cb1">
                <b>Hero</b>
            </span>
        </div>
        
        <div id="hercules">
            <div id="c1">
                <button id="btn">
                    <img id="mtb" src="/static/images/HEC1.png" alt="">
                    <br>
                    <a id="htext">
                        Hero New Attitude
                    </a>
                    <div class="hover-box">
                        <b>Hero New Attitude</b><br>
                        💰 Price: ₹600 / Day
                        <p><b>Description:</b>The Hero New Attitude is a mountain bike designed for riders aged 11 and above, blending durability with performance to handle various terrains.</p>
                    </div>
                </button>
            </div>

            <div id="c1">
                <button id="btn">
                    <img id="mtb" src="/static/images/HEC2.png" alt="">
                    <br>
                    <a id="htext">
                        Hero Trot
                    </a>
                    <div class="hover-box">
                        <b>Hero Trot</b><br>
                        💰 Price: ₹600/ Day 
                        <p><b>Description:</b>The Hero Sprint Trot is a mountain bicycle designed for riders aged 11 and above, offering durability and performance for various terrains. </p>
                    </div>
                </button>
            </div>

            <div id="c1">
                <button id="btn">
                    <img id="mtb" src="/static/images/HEC3.png" alt="">
                    <br>
                    <a id="htext">
                        Hero Lectro H7+
                    </a>
                    <div class="hover-box">
                        <b>Hero Lectro H7+</b><br>
                        💰 Price: ₹800 / Day
                        <p><b>Description:</b>The Hero Lectro H7+ is an electric bicycle (e-bike) designed to offer an eco-friendly and efficient mode of transportation, blending modern technology with traditional cycling. </p>
                    </div>
                </button>
            </div>
        </div>
        <div id="name">
            <span id="cb1">
                <b>Avon Cycles</b>
            </span>
        </div>
        
        <div id="hercules">
            <div id="c1">
                <button id="btn">
                    <img id="mtb" src="/static/images/AC1.png" alt="">
                    <br>
                    <a id="htext">
                        CYCLUX SAGE
                    </a>
                    <div class="hover-box">
                        <b>CYCLUX SAGE</b><br>
                        💰 Price: 600 / Day
                        <p><b>Description:</b>The Cyclux Sage is a mountain bike from Avon Cycles, designed to offer a blend of style and performance for both casual riders and cycling enthusiasts.</p>
                    </div>
                </button>
            </div>

            <div id="c1">
                <button id="btn">
                    <img id="mtb" src="/static/images/AC2.png" alt="">
                    <br>
                    <a id="htext">
                        AHEAD 700 x 35C
                    </a>
                    <div class="hover-box">
                        <b>AHEAD 700 x 35C</b><br>
                        💰 Price: ₹600 / Day
                        <p><b>Description:</b>​The Avon Ahead 700 x 35C is a versatile hybrid bicycle designed for both city commuting and light trail riding. Its design caters to riders aged 12 and above, with a minimum height requirement of 5 feet</p>
                    </div>
                </button>
            </div>

            <div id="c1">
                <button id="btn">
                    <img id="mtb" src="/static/images/AC3.png" alt="">
                    <br>
                    <a id="htext">
                        CYCLELEC CONNECT PRO
                    </a>
                    <div class="hover-box">
                        <b>CYCLELEC CONNECT PRO</b><br>
                        💰 Price: ₹800 / Day
                        <p><b>Description:</b>The Avon Cyclelec Connect Pro is a versatile electric bicycle designed for both urban commuting and leisurely rides, offering a blend of traditional cycling with modern electric assistance.</p>
                    </div>
                </button>
            </div>
        </div>

        <a  id="btnn"href="{{url_for('order')}}">
            <button class="bt">Rent a Vehicle</button>
        </a>
        

</body>

</html>